.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.board{
  margin:20px 50px;
}

.column{
  display: inline-block;
  vertical-align: top;
  border: 1px solid black;
  border-radius: 5px;
  width:220px;
  padding-bottom: 20px;
  margin:20px;
}

.col1 .item{
  background-color:blue;
}
.col2 .item{
  background-color:purple;
}
.item{
  height: 100px;
  width:200px;
  border:1px solid grey;
  border-radius: 5px;
  margin:5px;
}